<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragment/common :: headerFragment" />
<body>
	<div class="container">
		<div th:replace="fragment/common :: top-nav(viewUserByEmailForm)"></div>
		<div th:replace="fragment/manager :: manager-header"></div>
		<div class="page-header">
			<h3>View User By Email Form</h3>
		</div>
		<div th:replace="fragment/common :: message"></div>
		<form id="viewUserByemail-form" th:action="@{/manager/viewUserByEmailForm}"
			th:object="${form}" method="post" class="form-horizontal">
			<div class="form-group">
				<label class="col-md-3 control-label">Email</label>
				<div class="col-sm-9">
					<input type="email" th:field="*{email}" th:errorclass="fieldError"
						class="form-control" placeholder="Email" /> <label
						th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-offset-3 col-md-9">
					<button type="submit" class="btn btn-primary">Get Details</button>
				</div>
			</div>
		</form>
		<div th:replace="fragment/common :: footer"></div>
	</div>
</body>
</html>