<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragment/common :: headerFragment" />
<body>
	<div class="container">
		<div th:replace="fragment/common :: top-nav(admin)"></div>
		<div th:replace="fragment/admin :: admin-header"></div>
		<div class="page-header">
			<h3>Add Internal User</h3>
		</div>
		<div th:replace="fragment/common :: message"></div>
		<form class="form-horizontal" role="form" th:action="@{/admin/add}"
			th:object="${form}" method="post">
			<div class="form-group">
				<label class="col-md-3 control-label">Employee name: </label>
				<div class="col-md-9">
					<input type="text" class="form-control" th:field="*{username}"></input>
					<label th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></label>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">Email: </label>
				<div class="col-md-9">
					<input type="email" class="form-control" th:field="*{email}"></input>
					<label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">Date of Birth: </label>
				<div class="col-md-9">
					<div th:if="*{dateOfBirth} != null">
						<input placeholder="MM/dd/yyyy" type="text" th:field="*{dateOfBirth}" th:value="*{#dates.format(dateOfBirth,'MM/dd/yyyy')}" class="form-control"/>
					</div>
					<div th:if="*{dateOfBirth} == null">
					<input type="text" th:field="*{dateOfBirth}" name="dateOfBirth" th:value="*{dateOfBirth}" class="form-control"/>
					</div>
					<label th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"></label>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label" for="role">Employee
					Type:</label>
				<div class="col-sm-9">
					<select th:field="*{role.name}" class="form-control">
						<option th:value="ROLE_ADMIN">Administrator</option>
						<option th:value="ROLE_EMPLOYEE">Employee</option>
						<option th:value="ROLE_MANAGER">Manager</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-3 col-sm-9">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</form>
		<div th:replace="fragment/common :: footer"></div>
	</div>
</body>
</html>