<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragment/common :: headerFragment" />
<body>
	<div class="container">
		<div th:replace="fragment/common :: top-nav(admin)"></div>
		<div th:replace="fragment/admin :: admin-header"></div>
		<div class="page-header">
			<h3>Profile Requests</h3>
		</div>
		<div th:replace="fragment/common :: message"></div>
		<div class="table-responsive">
			<table class="table table-bordered table-hover">
				<thead>
					<tr class="info">
						<th>Email</th>
						<th>PII</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${piiInfo.size()} == 0">
						<td colspan="3">There are no requests</td>
					</tr>
					<tr style="cursor: pointer" th:each="request : ${piiInfo}">
						<td><span th:text="*{request.email}"></span></td>
						<td><span th:text="*{request.pii}"></span></td>
						<td><span th:text="*{request.status}"></span></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div th:replace="fragment/common :: footer"></div>
	</div>
</body>
</html>