<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/common :: headerFragment" />
<body>
    <div class="container">
        <div th:replace="fragment/common :: top-nav(recoverPassword)"></div>
           <form th:action="@{/login/identify}" method="post">
            <div class="form-group">
                <label for="email">What's your email?</label>
                <input id="email" type="email" name="email" class="form-control" placeholder="Email" />
            </div>
            <button type="submit" class="btn btn-primary">Verify</button>
           </form>
        <div th:replace="fragment/common :: [//footer]"></div>
    </div>
</body>
</html>