<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="admin-header">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a th:href="@{/admin/requests}">Profile Requests</a></li>
						<li><a th:href="@{/admin/employees}">Employees</a></li>
						<li><a th:href="@{/admin/managers}">Managers</a></li>
						<li><a th:href="@{/admin/piirequest}">Request PII</a></li>
						<li><a th:href="@{/admin/piidetails}">PII details</a></li>
						<li><a th:href="@{/admin/add}">Add Internal User</a></li>
						<li><a th:href="@{/admin/logs}">View logs</a></li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
	</div>
</body>
</html>