<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="merchant-header" >
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li ><a th:href="@{/merchant/transferfunds}">Transfer Funds</a></li>
						<li><a th:href="@{/merchant/userpayment}">Payment from customer</a></li>
						<li><a th:href="@{/merchant/initiatetransaction}">Initiate Transaction</a></li>
					    <li><a th:href="@{/merchant/creditdebit}">Credit/Debit</a></li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
	</div>
</body>
</html>