<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragment/common :: headerFragment" />
<body>
	<div class="container">

		<div th:replace="fragment/common :: top-nav(myaccount)"></div>
		<div th:replace="fragment/employee :: employee-header"></div>
		<div class="page-header">
			<h1>My Account</h1>
		</div>
		<div th:replace="fragment/common :: message"></div>
		<div th:replace="fragment/common :: footer"></div>
	</div>
</body>
</html>