<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragment/common :: headerFragment" />
<body>
	<div class="container">
		<div th:replace="fragment/common :: top-nav(error)"></div>
		<div class="alert alert-danger alert-dismissible">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<p>Woops, looks like our server had an internal error! Please try again or contact our administrator!</p>
		</div>
		<div th:replace="fragment/common :: footer"></div>
	</div>
</body>
</html>
